version: "3"

volumes:
    mysql_data: {}
    mariadb_data: {}

services:
    # Primary services to use with this course
    webtec: &webtec
        #image: dbwebb/courserepo:webtec
        image: dbwebb/courserepo
        volumes:
            - ".:/home/dbwebb/repo"
            - "/home/dbwebb/repo/bin"
            - "/home/dbwebb/repo/build"
            - "/home/dbwebb/repo/node_modules"
            - "/home/dbwebb/repo/vendor"
            - "./example/sql/inspect/my.cnf:/home/dbwebb/.my.cnf"

    cli:
        <<: *webtec

    server:
        <<: *webtec
        #volumes:
            #- ./example/docker/site_default.conf:/etc/apache2/sites-enabled/000-default.conf
        ports:
            - "18080:80"

    courserepo:
        image: dbwebb/courserepo:cli
        volumes:
            - ".:/home/dbwebb/repo"
            #- "/home/dbwebb/repo/bin"
            #- "/home/dbwebb/repo/build"
            #- "/home/dbwebb/repo/node_modules"
            #- "/home/dbwebb/repo/vendor"
            - "./example/sql/inspect/my.cnf:/home/dbwebb/.my.cnf"



    # Add support for mysql and mariadb
    mariadb:
        container_name: mariadb
        image: mariadb/server:latest
        restart: always
        ports:
            - "13306:3306"
        environment:
            MARIADB_ROOT_PASSWORD: pass
        volumes:
            - mariadb_data:/var/lib/mysql
            - ./example/sql.d/mariadb:/docker-entrypoint-initdb.d
            - ./example/sql/inspect/mariadb_my.cnf:/root/.my.cnf

    mysql:
        container_name: mysql
        image: mysql:latest
        restart: always
        command: --default-authentication-plugin=mysql_native_password
        ports:
            - "13306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: pass
        volumes:
            - mysql_data:/var/lib/mysql
            - ./example/sql.d/mysql:/docker-entrypoint-initdb.d
            - ./example/sql/inspect/mysql_my.cnf:/root/.my.cnf

    # Anax images to test various PHP versions
    php:
        image: anax/dev:php73-cli
        volumes:
            - .:/home/anax/repo

    apache:
        image: anax/dev:php73-apache
        ports:
            - "18080:80"
        volumes:
            - .:/app
            - ./example/docker/site_default.conf:/etc/apache2/sites-enabled/000-default.conf

    php80:
        image: anax/dev:php80-cli
        volumes:
            - .:/home/anax/repo

    php80-apache:
        image: anax/dev:php80-apache
        ports:
            - "18085:80"
        volumes:
            - .:/app
            #- ./apache.conf:/etc/apache2/sites-enabled/000-default.conf
            - ./example/docker/site_default.conf:/etc/apache2/sites-enabled/000-default.conf
