html {
    background-color: #9C9;
    border: 8px solid #696;
}

body {
    background-color: #8892BF;
    border: 4px solid #4F5B93;
}

main {
    margin: 0 auto;
    max-width: 800px;

    padding: 0.5em;

    border: 4px solid #CCC;
    background-color: #F2F2F2;
    color: #333;
}
