/** footer.css */

/*
 * Set colors and size.
 */
.footer {
    background: linear-gradient(to bottom, #666, #000);
    color: #FFF;
    padding: 0 1em;
}

/*
 * Style the links.
 */
.footer a {
    color: #FFF;
}

.footer a:hover {
    color: lime;
    text-decoration: none;
}

/*
 * Style the content.
 */
.box h4 {
    border-bottom: 2px solid #fff;
}

.final {
    text-align: center;
}

/*
 * Style the rows and columns.
 */
.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.footer .row > .col3 {
    width: calc(100% / 3);
}

.footer .row > .col1 {
    width: 100%;
}

/**
 * Add colors to rows and columns to debug and visualize.
 */
/*
.footer .row {
    background-color: tomato;
    padding: 1em;
}

.footer .row > .col1,
.footer .row > .col3 {
    background-color: BlanchedAlmond;
    color: Brown;
    padding: 1em;
} */
