/** figure.css */

.figure {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    border: 1px solid #ccc;
}

.figure img {
    max-width: 100%;
}

.figure figcaption {
    caption-side: bottom;
    font-style: italic;
    padding-top: 1em;
    text-align: center;
}

.figure.right {
    float: right;
    margin-left: 1em;
}

.figure.left {
    float: left;
    margin-right: 1em;
}

.figure.center {
    display: block;
    text-align: center;
}

.me {
    width: 250px;
    /* border-radius: 50%; */
}
