/** footer.css */

/*
 * Set colors and size.
 */
 .footer {
    background: linear-gradient(to bottom, #8892BF,#4F5B93 50%);
    color: #FFF;
    padding: 0 1em;
    border-top: 4px solid #4F5B93;
}

/*
 * Style the links.
 */
.footer a {
    color: #FFF;
}

.footer a:hover {
    color: lime;
    text-decoration: none;
}

/*
 * Style the content.
 */
.box h4 {
    border-bottom: 2px solid #fff;
}

.final {
    text-align: center;
    background-color: #4F5B93;
}

/*
 * Style the rows and columns.
 */
.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.footer .row > .col3 {
    width: calc(100% / 3);
}

.footer .row > .col1 {
    width: 100%;
}

html {
    background-color: #8892BF;
}
