/** header.css */

/*
 * Prepare variables.
 */
 :root {
    --light-color: #CFC;
    --medium-color: #7A7;
    --dark-color: #363;
}

/*
 * Set colors, size and prepare positioning.
 */
.header {
    background-color: var(--light-color);
    border-bottom: 4px solid var(--dark-color);
    position: relative;
}

/*
 * Position and size the logo.
 */
.header .logo {
    width: 150px;

    position: relative;
    top: 5px;
    left: 20px;
}

/*
 * Modify and position the title.
 */
.header .title {
    color: var(--dark-color);
    font-size: 36px;
    text-shadow: 2px 2px 2px var(--medium-color);

    position: relative;
    top: -90px;
    left: 200px;
}

/*
 * Modify and position the subtitle.
 */
.header .subtitle {
    color: var(--dark-color);
    font-size: 24px;

    display: inline-block;
    transform: rotate(20deg);

    position: relative;
    top: -70px;
    left: 900px;
}

/*
 * Add background image.
 */
 .header {
    background-color: var(--light-color);
    border-bottom: 4px solid var(--dark-color);
    position: relative;

    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
}

/*
 * Fix colors when using background image.
 */
.header .title,
.header .subtitle {
    background-color: #689D18;
    padding: 0.3em;
    border-radius: 10px;
}