/**
 * Initiate the CSS base and reset/normalize some items.
 */

/**
 * Apply a natural box layout model to all elements, but allowing components
 * to change.
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
 html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/**
* Parts from
* https://github.com/necolas/normalize.css/blob/master/normalize.css
*/
html {
  line-height: 1.15;
}

body {
  margin: 0;
  overflow-y: scroll;    /* Always display scrollbar, avoid hopping pages */
}
