table {
    border: 1px solid #666;
}

th {
    border-bottom: 1px solid #666;
    background-color: #ccc;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

tr:hover {
    background-color: #ccc;
}
