html {
    margin: 0;
    background-color: #333;
}

body {
    margin: 0;
    font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
}

nav {
    background-color: #8892BF;
    border-bottom: 4px solid #4F5B93;
    color: #EEEEEE;
    overflow: auto;
}

nav a {
    color: #EEEEEE;
    text-decoration: none;
}

nav a:hover {
    color: #4F5B93;
    text-decoration: underline;
}

header {
    background-color: #9C9;
    border-bottom: 2px solid #696;
    color: #EEEEEE;
    overflow: auto;
}

main {
    margin: 0 auto;
    max-width: 800px;

    padding: 0.5em;

    background-color: #F2F2F2;
    color: #333;
}

footer {
    color: #FFF;
}

footer a:link {
    color: #FFF;
}

footer a:visited {
    color: #CCC;
}

footer a:hover {
    color: #9C9;
}
