/**
* The stylesheet for this website.
*/
@import "init.css";
@import "navbar.css";
@import "header.css";
@import "footer.css";
@import "figure.css";
@import "byline.css";
@import "two_column_layout.css";
@import "responsive.css";
@import "main.css";

main {
    margin: 0 auto;
    max-width: 800px;

    background-color: #F2F2F2;
    color: #333;
}
