/** navbar.css */

/*
 * Add colors and borders.
 */
.navbar {
    background-color: #8892BF;
    border-top: 4px solid #4F5B93;
    text-align: center;
    font-size: 1.2em;
}

/*
 * Style links.
 */
.navbar a {
    display: inline-block;
    padding: 0.2em 0.5em;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar a:hover {
    color: #EEE;
    background-color: #4F5B93;
}

/*
 * Remove bullets, margins and padding from the list.
 */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*
 * Put the li items on a line.
 */
.navbar li {
    display: inline;
}
