/** main.css */

/*
 * Set colors and size.
 */
body {
    background-color: #eee;
}

.main {
    margin: 0 auto;
    max-width: 800px;
}

.article {
    overflow: auto;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
}

.article h1 {
    font-size: 2em;
    border-bottom: 4px double #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.article .author {
    margin-top: -1em;
    font-size: 0.8em;
    color: #666;
    font-style: italic;
}
